<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>Método de Hurwicz</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!resultFlag">

  <ion-card>
    <ion-header class="ion-text-center">
      <ion-card-title>Agregar Alternativas</ion-card-title>
    </ion-header>
    <ion-card-content>
      <ion-title>Alternativas</ion-title>

      <div class="list-alternatives">
        <ion-list class="row-table" *ngFor="let alt of alternatives; let i = index">
          <ion-row>
            <ion-item>{{alt}}</ion-item>
          </ion-row>
        </ion-list>
      </div>
      <div class="webflow-style-input">
        <ion-input placeholder="Nombre Alternativa" [(ngModel)]="nameAlternative" (keydown.enter)="addAlternative()">
        </ion-input>
        <ion-button type="submit" (click)="addAlternative()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-header class="ion-text-center">
      <ion-card-title>Agregar Estados de Naturaleza</ion-card-title>
    </ion-header>
    <ion-card-content>
      <ion-title>Estados Naturaleza</ion-title>

      <div class="list-alternatives">
        <ion-list class="row-table" *ngFor="let nature of natureStates; let i = index">
          <ion-row>
            <ion-item>{{nature}}</ion-item>
          </ion-row>
        </ion-list>
      </div>
      <div class="webflow-style-input">
        <ion-input placeholder="Nombre Alternativa" [(ngModel)]="nameNatureState" (keydown.enter)="addNatureState()">
        </ion-input>
        <ion-button type="submit" (click)="addNatureState()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row class="header">
      <div class="col" *ngFor="let nature of natureStates">{{nature}}</div>
    </ion-row>
    <ion-row *ngFor="let alt of alternatives; let i = index">
      <div class="col">{{alt}}</div>
      <div *ngFor="let nature of natureStates; let j = index">
        <ion-input class="input-matrix" type="text" style="width : 50px;" [(ngModel)]="matrix[i][j]"></ion-input>
      </div>
    </ion-row>

  </ion-card>
  <div class="user-box">
    <div>
      <input type="text" name="" required="" [(ngModel)]="alpha">
      <label>Alpha: </label>
    </div>
    <div class="button-container">
      <ion-button shape="round" size="large" color="transparent" (click)="calculateResult()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Calcular
      </ion-button>
    </div>
  </div>
  

</ion-content>

<ion-content *ngIf="resultFlag">
  <ion-card>
    <ion-card-content>
      <div class="list-alternatives">
        <ion-list class="row-table" *ngFor="let result of results; let i = index">
          <ion-row>
            <ion-item *ngIf="i != index">{{alternatives[i]}}:   {{result}}</ion-item>
            <ion-item *ngIf="i == index">
              <ion-row class="result-item">
                <ion-label>{{alternatives[i]}}:   {{result}}</ion-label>
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-row>
            </ion-item>
          </ion-row>
        </ion-list>
      </div>
    </ion-card-content>
    <div style="text-align: center;">
      <ion-text>La mejor opcion que puede tomar es: {{alternatives[index]}}</ion-text>
    </div>
    <div class="user-box">
      <div class="button-container">
        <ion-button shape="round" size="large" color="transparent" (click)="refresh()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Calcular
        </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>