
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Bienvenido</ion-list-header>
          <ion-note>Metodos probabilisticos</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list>
          <h1>Participantes</h1>
          <ion-item>
            <ion-label>Sergio Camilo Blanco</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Sebastian Loboguerrero</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nelsón Fonseca</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Steven Avila</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Giovanny Gonzales</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Heyder Blanco</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content">oli</ion-router-outlet>
  </ion-split-pane>
</ion-app>
