<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>Método de Arrepentimientos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!resultFlag">

  <ion-card>
    <ion-header class="ion-text-center">
      <ion-card-title>Agregar Alternativas</ion-card-title>
    </ion-header>
    <ion-card-content>
      <ion-title>Alternativas</ion-title>

      <div class="list-alternatives">
        <ion-list class="row-table" *ngFor="let alt of alternatives; let i = index">
          <ion-row>
            <ion-item>{{alt}}</ion-item>
          </ion-row>
        </ion-list>
      </div>
      <div class="webflow-style-input">
        <ion-input placeholder="Nombre Alternativa" [(ngModel)]="nameAlternative" (keydown.enter)="addAlternative()">
        </ion-input>
        <ion-button type="submit">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-header class="ion-text-center">
      <ion-card-title>Agregar Estados de Naturaleza</ion-card-title>
    </ion-header>
    <ion-card-content>
      <ion-title>Estados Naturaleza</ion-title>

      <div class="list-alternatives">
        <ion-list class="row-table" *ngFor="let nature of natureStates; let i = index">
          <ion-row>
            <ion-item>{{nature}}</ion-item>
          </ion-row>
        </ion-list>
      </div>
      <div class="webflow-style-input">
        <ion-input placeholder="Nombre Alternativa" [(ngModel)]="nameNatureState" (keydown.enter)="addNatureState()">
        </ion-input>
        <ion-button type="submit">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row class="header">
      <div class="col" *ngFor="let nature of natureStates">{{nature}}</div>
    </ion-row>
    <ion-row *ngFor="let alt of alternatives; let i = index">
      <div class="col">{{alt}}</div>
      <div *ngFor="let nature of natureStates; let j = index">
        <ion-input class="input-matrix" type="text" style="width : 50px;" [(ngModel)]="matrix[i][j]"></ion-input>
      </div>
    </ion-row>

  </ion-card>
  <div class="user-box">
    <div class="button-container">
      <ion-button shape="round" size="large" color="transparent" (click)="calculateResult()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Calcular
      </ion-button>
    </div>
  </div>

</ion-content>

<ion-content *ngIf="resultFlag">
  <ion-text>La mejor opcion que puede tomar es: {{alternatives[index]}}</ion-text>
  <ion-button (click)="refresh()">Recalcular</ion-button>
</ion-content>